html,body{padding:0;margin:0;color:#5d5d5d}ol,ul{list-style:none;margin:0;padding:0}h1,h2,h3,h4,h5,h6{color:#313131}strong{font-weight:600;color:#313131}a{font-weight:500;color:#313131;text-decoration:none}a:hover{text-decoration:underline}.resume{max-width:740px;margin:0 auto;padding:2rem}@media (max-width: 419px){.resume{padding:1.5rem}}.resume section{padding-bottom:10px;border-bottom:3px solid #6d6d6d}

.profile header{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:flex-start}.profile header img{width:96px;object-fit:contain;margin-right:20px}.profile header .info{flex:1;display:flex;justify-content:space-between;flex-wrap:wrap}.profile header .info span{min-width:50%;margin-bottom:10px}.profile strong{padding-right:1rem}@media (max-width: 959px){.profile header{flex-direction:column;align-items:center}.profile header img{width:64px;padding-bottom:10px}}

.piece{display:flex;align-items:flex-start;padding:10px 0;line-height:1.7}.piece-label{flex:0 0 6rem;font-weight:600;color:#313131}

.period{background-color:#efefef;padding:10px 0}.period-range{float:right}

.experience-item{padding-bottom:10px}

.project-item{padding-bottom:10px}

.level{text-align:left;position:relative}.level .star{font-size:14px;padding-left:5px}.level-tip{border-radius:5px;padding:5px;left:0;bottom:20px;background:#efefef;position:absolute}

.skill-item{display:flex;justify-content:space-between;align-items:center;padding:10px 0;border-bottom:1px dashed #6d6d6d;line-height:1.5}.skill-item-name{flex:0 0 5rem}.skill-item-description{flex:1;padding:0 1rem}.skill-item .level{flex:0 0 120px}.skill-item:last-child{border-bottom:none}@media (max-width: 719px){.skill .skill-item{padding-bottom:0;border-bottom:none}.skill .skill-item>:nth-child(even){display:none}}

