@import 'config.scss';
@import 'reset.scss';

.resume {
  max-width: $contentWidth;
  margin: 0 auto;
  padding: 2rem;
  @media (max-width: $MQMobileNarrow) {
    padding: 1.5rem;
  }
}

.resume {
  section {
    padding-bottom: 10px;
    border-bottom: 3px solid $borderColor;
  }
}
