html,
body {
  padding: 0;
  margin: 0;
  color: $textColor;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $accentColor;
}

strong {
  font-weight: 600;
  color: $accentColor;
}

a {
  font-weight: 500;
  color: $accentColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
