@import '../style/config.scss';

.profile {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    img {
      width: 96px;
      object-fit: contain;
      margin-right: 20px;
    }
    .info {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      span {
        min-width: 50%;
        margin-bottom: 10px;
      }
    }
  }
  strong {
    padding-right: 1rem;
  }

  @media (max-width: $MQNarrow) {
    header {
      flex-direction: column;
      align-items: center;
      img {
        width: 64px;
        padding-bottom: 10px;
      }
    }
  }
}
