@import '../style/config.scss';

$skillNameWidth: 5rem;

.skill {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed $borderColor;
    line-height: 1.5;

    &-name {
      flex: 0 0 $skillNameWidth;
    }
    &-description {
      flex: 1;
      padding: 0 1rem;
    }
    .level {
      flex: 0 0 120px;
    }

    &:last-child {
      border-bottom: none;
    }
  }
  @media (max-width: $MQMobile) {
    .skill-item {
      padding-bottom: 0;
      border-bottom: none;

      > :nth-child(even) {
        display: none;
      }
    }
  }
}
